@model List<MvcWhatsUp.Models.User>


@{
    ViewData["Title"] = "Users";
    User? loggedInUser = (User?)ViewData["LoggedInUser"];
}


<div class="text-center">
    <h1 class="display-4"> Wooooo</h1>
    <p>Weeeeeee. There are @Model.Count users</p>
    
    <a href="/Users/Create">Create new</a>


    <partial name="_ConfirmMessage.cshtml" />

    <table class="table">
        <thead>
            <tr>
                <th>Id </th>
                <th>Name</th>
                <th>Mobile number</th>
                <th>Email address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(User user in Model)
                {
                    string rowStyle = "";
                    
                    @if((loggedInUser != null) && (@user.UserId == loggedInUser.UserId))
                    {
                        rowStyle = "class=bg-info";
                    }

                    <tr @rowStyle>
                        <td>@user.UserId</td>
                        <td>@user.UserName</td>
                        <td>@user.MobileNumber</td>
                        <td>@user.EmailAddress</td>
                        <td><a href="/Users/Edit/@user.UserId">Edit</a> <a href="/Users/Delete/@user.UserId">Delete</a>
                            @if((loggedInUser != null) && (@user.UserId != loggedInUser.UserId))
                            {
                                <a href="/Chats/DisplayChat/@user.UserId">Display Chat</a>
                            }

                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
