@model List<MvcWhatsUp.Models.User>


@{
    ViewData["Title"] = "Users";
    int loggedInUserId = -1;
    if (ViewData["UserId"] != null)
    {
        loggedInUserId = int.Parse(ViewData["UserId"].ToString());
    }
}


<div class="text-center">
    <h1 class="display-4"> Wooooo</h1>
    <p>Weeeeeee. There are @Model.Count users</p>
    
    <a href="/Users/Create">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id </th>
                <th>Name</th>
                <th>Mobile number</th>
                <th>Email address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(User user in Model)
                {
                    string rowStyle = "";
                    @if(@user.UserId == loggedInUserId)
                    {
                        rowStyle = "class=table-info red";
                    }

                    <tr @rowStyle>
                        <td>@user.UserId</td>
                        <td>@user.UserName</td>
                        <td>@user.MobileNumber</td>
                        <td>@user.EmailAddress</td>
                        <td><a href="/Users/Edit/@user.UserId">Edit</a> <a href="/Users/Delete/@user.UserId">Delete</a>
                            @if((loggedInUserId != -1) && (@user.UserId != int.Parse(loggedInUserId.ToString())))
                            {
                                <a href="/Chats/DisplayChat/@user.UserId">Display Chat</a>
                            }

                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
